--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.45.1
tensorflow-cpu==2.16.2
torch==2.1.2+cpu
torchvision==0.16.2+cpu
diffusers==0.34.0
transformers==4.51.3
huggingface_hub==0.32.4
opencv-python==4.11.0.86
Pillow==11.2.1
scikit-image==0.25.2
matplotlib==3.10.3
tqdm==4.67.1
pandas==2.2.3
numpy==1.26.4
accelerate==0.27.2
safetensors==0.5.3
python-dateutil==2.9.0
requests==2.32.4
psutil==5.9.8
protobuf==3.20.3
